extends layout

block content
 div.navmenu.navmenu-default.navmenu-fixed-left
  a.navmenu-brand(href='#')
  ul.nav.navmenu-nav
   li
    a(href='#') Tareas
   li
    a(href='#') Contactos
   li
    a(href='#') Productos y Servicios
   li
    a(href='#') Proyectos
   li
    a(href='#') Convenios
   li
    a(href='#') Mesa de Entrada
   li
    a(href='#') Usuarios 
    

 div.canvas
  div.navbar.navbar-default.navbar-fixed-top
   button.navbar-toggle(type='button', data-toggle='offcanvas', data-recalc='false', data-target='.navmenu', data-canvas='.canvas')
    span.icon-bar
    span.icon-bar
    span.icon-bar

  div.container
   div.page-header
    h1 myBig
    table.table.table-striped.table-hover
     thead
      tr
       th #
       th Nombre
       th Apellido
       th Relación

     tbody
      tr
       th 1
       td Martín
       td Hayón
       td Admin

      tr
       th 2
       td Emiliano
       td Benages
       td Admin

      tr
       th 3
       td Adrián
       td Aloe
       td Contacto   
