extends layout
	
block content
	div(id='wrapper').toggled
		div(id='sidebar-wrapper')
			ul.sidebar-nav
				li.sidebar-brand
					a(href='#') MyBig
						li
							a(href='#') Tareas
						li
							a(href='#') Contactos
						li
							a(href='#') Productos y Servicios
						li
							a(href='#') Proyectos
						li
							a(href='#') Mesa de Entrada
						li
							a(href='#') Usuarios

		div(id='page-content-wrapper')
			div.row
				div.col-lg-12
					a(href='#menu-toggle', id='menu-toggle').btn.btn-default myBig


	script
		$("#menu-toggle").click(function(e) { e.preventDefault();
		$("#wrapper").toggleClass("toggled");
		});	