extends layout
	
block content
	div(id='wrapper').toggled
		div(id='sidebar-wrapper')
			ul.sidebar-nav
				li.sidebar-brand
					a(href='#') MyBig
						li
							a(href='#') Tareas
						li
							a(href='#') Contactos
						li
							a(href='#') Productos y Servicios
						li
							a(href='#') Proyectos
						li
							a(href='#') Mesa de Entrada
						li
							a(href='#') Usuarios

		div(id='page-content-wrapper')
			div.row
				div.col-lg-12
					a(href='#menu-toggle', id='menu-toggle').btn.btn-default myBig

			div.row
				div.container-fluid
					table.table.table-striped
						thead
							tr
								th #
								th Nombre
								th Apellido
								th Relación

						tbody
							tr
								th 1
								td Martín
								td Hayón
								td Contacto

							tr
								th 2
								td Emiliano
								td Benages
								td Contacto

							tr
								th 3
								td Mariano
								td Logarzo
								td Contacto

							tr
								th 4
								td BDG S.A.
								td -
								td Cliente


	script
		$("#menu-toggle").click(function(e) { e.preventDefault();
		$("#wrapper").toggleClass("toggled");
		});	