extends layout

block content
  h1= title
  p Esta es una prueba para #{title}

  div.container
   table.table.table-striped.table-hover
    thead
     tr
      th #
      th Nombre
      th Apellido
      th Relación

    tbody
     tr
      th 1
      td Martín
      td Hayón
      td Contacto

     tr
      th 2
      td Emiliano
      td Benages
      td Contacto

     tr
      th 3
      td Mariano
      td Logarzo
      td Contacto

     tr
      th 4
      td BDG S.A.
      td -
      td Cliente
